# Configuration Solr
SOLR_BASE_URL=http://localhost:8983/solr/your_core_name

# Configuration de l'API
API_HOST=0.0.0.0
API_PORT=8000
API_RELOAD=True

# Configuration des types de documents (format JSON pour les listes)
TYPES_NEEDING_PARENTS=["article", "chapter"]

# Champs par défaut à retourner (format JSON pour les listes)
DEFAULT_FIELDS=["id", "url", "title", "idparent", "container_url"]

# Auth API
AUTH_API_URL=http://auth.openedition.org/auth_by_url/
